{{!-- sign-in-form template --}}
<div class='sign-in-form'>
  <div class='container'>
    <div class='row form'>
      <h1>Sign In</h1>
      {{email-input email=credentials.email}}
      {{password-input password=credentials.password}}

      <button type="submit" class="btn btn-primary" {{action "submit"}}>
        Sign In
      </button>

      {{#link-to 'application'}}<button class="btn btn-default" {{action "reset"}}>
        Cancel
      </button>{{/link-to}}
    </div>
  </div>
</div>
