@import 'bootstrap';
@import 'bootstrap/theme';

a {
  text-decoration: none;
}

.welcome {
  background-attachment: relative;
  background-image: url('../images/bg-1.jpg');
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  bottom: 0;
  color: rgb(229, 238, 233);
  font-family: 'Cinzel', serif;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.welcome .nettle {
  color: rgb(229, 238, 233);
  font-family: 'Cinzel', serif;
  font-size: 100px;
  margin-top: 160px;
}

.welcome .btn {
  margin: 10px;
  text-decoration: none;
}

.form {
  margin: 100px auto;
  width: 350px;
}

.form h1 {
  text-align: center;
}

.trips-display {
  width: 750px;
}

.trip-box {
  border: 1px;
  float: left;
  height: 110px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 110px;
}

.trip-form {
  margin: auto;
  width: 450px;
  text-align: center;
}

.trip-form input {
  margin: 10px;
}

.trip-form textarea {
  height: 100px;
  margin: 10px;
  width: 450px;
}
