{{!-- my-application component --}}
<div class='home-page'>
  <div class="container">

    <h1>Nettle</h1>

    <button class='btn'>{{#link-to "sign-up"}}Sign Up{{/link-to}}</button>
    <button class='btn btn-warning'>{{#link-to "sign-in"}}Sign In{{/link-to}}</button>
  </div>
</div>




{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
