{{!-- trips template --}}

<div class="page">
    {{#link-to 'trip-create' class='trip-button'}}<button class="btn">Create A Trip</button>{{/link-to}}
<div class="container trips-display">
    <div class="row">
      {{#each model.trips as |eachTrip|}}
      {{trips-snippet trip=eachTrip
                      routeDestroyTrip="destroyTrip"}}
      {{/each}}
    </div>
  </div>
</div>
