{{!-- trips template --}}

<div class="container trips-display">
  {{#link-to 'trip-create'}}<button class="btn">boob</button>{{/link-to}}
  <div class="row">
    {{#each model.trips as |eachTrip|}}
    {{trips-snippet trip=eachTrip
                    routeDestroyTrip="destroyTrip"}}
    {{/each}}
  </div>
</div>
