{{!-- trips template --}}

<div class="container">
  <div class="row">
    {{#each model.trips as |eachTrip|}}
    {{trips-snippet trip=eachTrip
                    routeDestroyTrip="destroyTrip"}}
    {{/each}}
  </div>
</div>
