{{!-- trip create template --}}
<div class='page'>
  <div class='container trip-form-page'>
{{trip-form routeCreateTrip="createTrip"}}
{{#each model.users as |eachUser|}}
  {{user-form user=eachUser}}
{{/each}}
</div>
</div>
