{{!-- trip template --}}

<div class='page'>
  <div class='container'>
    <div class='trip-page'>
      {{trip-details trip=model
                     routeUpdateTrip='updateTrip'}}
      <br>
      <h1>Items</h1>
      {{item-create model=model
                    routeCreateItem="createItem"}}

      {{#each model.items as |eachItem|}}
        {{item-snippet item=eachItem}}
      {{/each}}
    </div>
    <div class='sidebar'>
      {{#link-to "trip.invite" model}}<button class='btn btn-primary'>Invite Users</button>{{/link-to}}
      {{outlet}}
    </div>

  </div>
</div>
