{{!-- invite template --}}
{{invite-cart trip=model.trip}}
{{users-invite model=model
               routeAddUser="addUser"}}
{{#link-to "trip"}}<button class='btn btn-default'>Cancel</button>{{/link-to}}
